@model Proyecto_Programado.Model.Inventario

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>Detalles del Inventario</h1>

    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-3">ID:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Id)</dd>

                <dt class="col-sm-3">Nombre:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>

                <dt class="col-sm-3">Categoría:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Categoria)</dd>

                <dt class="col-sm-3">Cantidad:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Cantidad)</dd>

                <dt class="col-sm-3">Precio:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Precio)</dd>
            </dl>
        </div>
    </div>

    <hr />

    <h2>Histórico del Inventario</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tipo de Modificación</th>
                    <th>Fecha y Hora</th>
                    <th>Nombre del Usuario</th>
                    <th>Modificación</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var historico in ViewBag.HistoricoInventarios as List<Proyecto_Programado.Model.HistoricoInventario>)
                {
                    <tr>
                        <td>@historico.TipoModificacion</td>
                        <td>@historico.fechaCreacion.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>@historico.nombreUsuario</td>
                        @if (historico.Modificacion != null)
                        {
                            <td>@historico.Modificacion</td>
                        } else
                        {
                            <td></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <a asp-action="Index" class="btn btn-primary">Volver a la Lista</a>
</div>
